/.stack-work/
_cache
/_site/
/lectures/theory/Iffy-Lang/Iffy-ott.aux
/lectures/theory/Iffy-Lang/Iffy-ott.tex
/lectures/theory/Iffy-Lang/lect-output.tex
/lectures/theory/Iffy-Lang/lect.aux
/lectures/theory/Iffy-Lang/lect.bbl
/lectures/theory/Iffy-Lang/lect.blg
/lectures/theory/Iffy-Lang/lect.log
/lectures/theory/Iffy-Lang/lect.out
/lectures/theory/lect4-9-16-14/lect.out
/lectures/theory/lect4-9-16-14/lect.log
/lectures/theory/lect4-9-16-14/lect.blg
/lectures/theory/lect4-9-16-14/lect.bbl
/lectures/theory/lect4-9-16-14/lect.aux
/lectures/theory/lect4-9-16-14/lect-output.tex
/lectures/theory/lect4-9-16-14/lam-ott.tex
/lectures/theory/lect-system-T/length.agdai
/lectures/theory/lect-system-T/lect.out
/lectures/theory/lect-system-T/lect.log
/lectures/theory/lect-system-T/lect.blg
/lectures/theory/lect-system-T/lect.bbl
/lectures/theory/lect-system-T/lect.aux
/lectures/theory/lect-system-T/lect-output.tex
/lectures/theory/lect-system-T/lam-ott.tex
/lectures/theory/lambda-calculus/type_theory_inc.aux
/lectures/theory/lambda-calculus/type_theory-inc.aux
/lectures/theory/lambda-calculus/type-theory_inc.aux
/lectures/theory/lambda-calculus/lect.out
/lectures/theory/lambda-calculus/lect.log
/lectures/theory/lambda-calculus/lect.blg
/lectures/theory/lambda-calculus/lect.bbl
/lectures/theory/lambda-calculus/lect.aux
/lectures/theory/lambda-calculus/lect-output.tex
/lectures/theory/lambda-calculus/lam-ott.tex
/lectures/theory/lambda-calculus/lam-ott.aux
/lectures/theory/church-encodings/thesis.bib
/lectures/theory/church-encodings/lect.out
/lectures/theory/church-encodings/lect.log
/lectures/theory/church-encodings/lect.blg
/lectures/theory/church-encodings/lect.bbl
/lectures/theory/church-encodings/lect.aux
/lectures/theory/church-encodings/lect-output.tex
/lectures/theory/church-encodings/lam-ott.tex
/lectures/theory/Iffy-Lang/type-theory_inc.aux
/lectures/theory/Iffy-Lang/thesis.bib
/lectures/theory/Iffy-Lang.tar.gz
thryweb/*
*~
*/*/.DS_Store
.DS_Store
/portfolio_web/images/
/portfolio_web/index.html
/portfolio_web/js/
