<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$ - Theory of Computation</title>
    $for(css)$
    <link rel="stylesheet" href="$css$" />
    $endfor$
    $if(math)$
      $math$ 
    $endif$
    </head>
    <body>
      <h1>$title$ - Theory of Computation </h1>
        <div id="navigation">
        <a href="/thryweb/index.html">Home</a>
	<a href="/thryweb/lectures.html">Lectures</a>
        <a href="/thryweb/includes/syllabus.pdf">PDF Syllabus</a>
        <a href="/thryweb/resources.html">Other Resources</a>
        </div>
	<br/>
	<br/>
$if(toc)$
<nav id="$idprefix$TOC" role="doc-toc">
<h2 id="$idprefix$toc-title">Contents:</h2>
$table-of-contents$
</nav>
$endif$       
$body$
    </body>
</html>
